@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="SeeMinus">Click me to see minus</button>
<p><input class="text" @bind="@MinusValue"  @oninput="@((e) => { MinusValue=(string)e.Value;})" /> You entered: @MinusValue</p>


@code {
    private int currentCount = 0;
    [Parameter]
    public int IncrementAmount {get;set;} =1;
    public int MinusAmount {get;set;} =1;
    private string MinusValue {get;set;} = "1";
    
    private void SeeMinus()
    {
        currentCount -=Int16.Parse(MinusValue);   
    }
    private void IncrementCount()
    {
        currentCount +=IncrementAmount;
    }
}
